* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Poppins", sans-serif;
}
.mb-70 {
    margin-bottom: 70px;
}
.bg-black {
    background-color: #000000;
}
.bg-gray {
    background-color: #111111;
}
.text-center {
    text-align: center;
}

.hero-area {
    background-image: url(/assets/img/previewbg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
}

.hero-content-wrap {
    text-align: center;
}

.site-logo {
    display: inline-block;
    margin-bottom: 20px;
    height: 40px;
}

.title {
    font-size: 32px;
    font-weight: 600;
    color: white;
    line-height: 1.5;
    margin-bottom: 30px;
}

.title span {
    color: #fa5252ef;
}

.btn {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    text-decoration: none;
    color: #fff;
    width: 196px;
    height: 56px;
    line-height: 45px;
    text-align: center;
    border-radius: 40px;
    transition: 0.3s;
    margin: 0 7px;
}
.btn-2:hover {
    background: white;
}

.btn-1 {
    background: linear-gradient(97deg, rgba(250, 82, 82, 1) 0%, rgba(221, 36, 118, 1) 100%);
}
.btn-1:hover {
    background: linear-gradient(197deg, rgba(250, 82, 82, 1) 0%, rgba(221, 36, 118, 1) 100%);
    color: #fff;
}

.btn-2 {
    background: white;
    color: #000000;
}

.main-title {
    font-size: 45px;
    text-transform: capitalize;
    color: #fa5252;
    font-weight: 600;
}
.bg-shape {
    margin-bottom: 30px;
}
.section-title {
    font-size: 32px;
    font-weight: 600;
    color: #dddddd;
    margin-bottom: 20px;
}
.section-pera {
    font-size: 16px;
    font-weight: 500;
    color: #dddddd;
}
.demo-link {
    width: 100%;
    display: inline-block;
    overflow: hidden;
    border-radius: 15px;
    border: 4px solid #303035;
    position: relative;
    transition: 0.3s;
    margin-bottom: 30px;
}

.demo-link:hover {
    border-color: #a1a1aa;
}

.demo-link img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.demo-title {
    display: block;
    font-size: 18px;
    color: #fff;
    background: #0f172a;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 10px;
    width: 100%;
    transition: 0.3s;
    text-align: center;
}
.home-demo-area {
    padding-top: 110px;
    padding-bottom: 120px;
}
.feature-item-wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}
.feature-item {
    display: inline-block;
    width: 100%;
    background: #1e293b;
    border-radius: 10px;
    text-align: center;
    padding: 30px 30px;
    margin-bottom: 30px;
    min-height: 350px;
}
.feature-icon {
    display: inline-block;
    width: 60px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 10px;
    height: 60px;
}

.feature-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(0.8);
}

.feature-title {
    font-size: 22px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}

.feature-text {
    font-size: 16px;
    font-weight: 400;
    color: #a6a6a6;
}

.buy-title {
    color: #fff;
    font-size: 42px;
    margin-bottom: 30px;
}

.buy-title span {
    display: inline-block;
    color: #fa5252;
    text-transform: uppercase;
}

.copy-right * {
    font-size: 16px;
    font-weight: 500;
    background: #1e293b;
    color: #fff;
}
.copy-right span {
    display: block;
    padding: 20px 10px;
}
.copy-right a {
    padding: 0;
    transition: 0.3s;
}
.copy-right a:hover {
    color: #fa5252;
}

/* // X-Small devices (portrait phones, less than 576px) */
/* // No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    .site-logo {
        width: 250px;
    }
    .title {
        font-size: 20px;
    }
    .hero-btn-wrap {
        display: flex;
        justify-content: center;
        flex-flow: column;
        align-items: center;
        gap: 15px;
    }
    .bg-shape {
        width: 200px;
    }
    .feature-title {
        font-size: 22px;
    }
}
